*
{
	background-color: #181f21;
	margin: 0;
	padding: 0; 
}

h1 
{
	font-family: 'JetBrains Mono';
	text-align: center;
	color: aqua;
}

p
{
	font-family: 'JetBrains Mono';
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	color: antiquewhite;
	margin-top: 10px;
}
.photo {
    height: 50px;
    margin: 0 auto; 
    text-align: center;
    transition: transform 0.3s; 
}

.photo:hover {
    transform: scale(1.1); 
}



.cesa{
	padding-left: 40%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header {
    background-color: #333;
    padding: 15px 0;
	margin-bottom:21px ;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: #333; 
}

.navbar li {
    display: inline;
    margin-right: 10px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover {
    background-color: #fff;
    color: #00bfff;
}
